<h2>New Deal Registration</h2>
<form [formGroup]="dealForm">
  <div class="input-line">
    <mat-form-field [style.width.%]="100">
      <mat-label>Deal Name</mat-label>
      <input formControlName="name" matInput placeholder="Deal Name">
    </mat-form-field>
  </div>

  <div class="input-line">
    <mat-form-field [style.width.%]="100">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="Full Address">
    </mat-form-field>
  </div>

  <div class="input-line">
    <mat-form-field>
      <mat-label>Purchase Price</mat-label>
      <input currencyMask formControlName="purchasePrice" matInput placeholder="Purchase Price">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Net Operating Income</mat-label>
      <input currencyMask formControlName="noi" matInput placeholder="Net Operating Income)">
    </mat-form-field>
  </div>

  <div class="input-line">
    <mat-form-field>
      <mat-label>Cap Rate (%)</mat-label>
      <input class="right-align" readonly="true" formControlName="capRate" matInput placeholder="Cap Rate %">
    </mat-form-field>
  </div>

  <div class="actions">
    <button mat-stroked-button color="warn" (click)="discart()">Discart</button>

    <div class="spacer"></div>
    <button id="save-button" [disabled]="dealForm.invalid" mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</form>