<h2>New Deal Registration</h2>
<form [formGroup]="dealForm">
  <div class="input-line">
    <mat-form-field [style.width.%]="100">
      <mat-label>Deal Name</mat-label>
      <input formControlName="name" matInput placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div class="input-line">
    <mat-form-field [style.width.%]="100">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div class="input-line">
    <mat-form-field>
      <mat-label>Purchase Price</mat-label>
      <input formControlName="purchasePrice" matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field>
      <mat-label>NOI</mat-label>
      <input formControlName="noi" matInput placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div class="input-line">
    <mat-form-field>
      <mat-label>Cap Rate</mat-label>
      <input formControlName="capRate" matInput placeholder="Placeholder">
    </mat-form-field>
  </div>

  <div class="actions">
    <button mat-stroked-button color="warn">Discart</button>

    <div class="spacer"></div>
    <button mat-raised-button color="primary">Save</button>
  </div>
</form>